.footer {
    min-height: 25vh;
    padding: 2rem;
    background: $main-grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @mixin atSmall {
        min-height: 25vh;
    }

    &__top {
        padding-top: 2.5rem;
    }

    &__text {
        font-size: 1.6rem;
        font-style: italic;
    }

    &__bottom-line {
        border: 1px solid red;
        margin-bottom: 1.5rem;
    }

}