/* TODO: hamburger nav for mobile screens less than 600px
    mixin for min-width: 600px
    display: none on hamburger menu icon above 600px
    research hamburger menu more on the udemy video
*/

.navbar {
    box-sizing: border-box;
    width: 0%;
    background-color: transparent;
    position: absolute;
    z-index: -2;
    opacity: 0;
    left: 80%;
    transform: scale(1.2);
    transform-origin: 100% 50%; /* horizontal and vertical position of transformation
    for ex, 0 0 would be top left corner
    */
    transition: all 500ms ease-out;

    @mixin atSmall {
        left: 0;
        width: 100%;
        background-color: $primary-col;
        position: fixed;
        transform: scale(1);
        opacity: 1;
        z-index: 1;
    }

    &--is-open {
        width: 100%;
        left: 0;
        opacity: 1;
        z-index: 1;
        transform: scale(1);
        background-color: rgba(45, 64, 89, 0.5);

    }

    &>ul {
        width: 80%;
        padding: 0.5rem 0;
        margin: auto;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @mixin atSmall {
            width: 100%;
            padding: 0 2em;
            flex-direction: row;
            justify-content: flex-end;
        }

        &>li {
            font-size: 1.5rem;
            padding: 0;
            background-color: transparent;
            color: $main-white;
            transition: all 150ms ease-in-out;

            @mixin atSmall {
                font-size: 2.5rem;
                padding: 1rem;
                transform: scale(1);
            }

            &>a {
                text-decoration: none;
                color: inherit;
            }
        }

        &>li:hover {
            cursor: pointer;
            background-color: $main-blue;
            color: $accent-col;
        }
    }
}