<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <header>
        <nav class="navbar" id="navbar">
          <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./projects.html">Work</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </nav>
        <div class="mobile-menu">
          <div class="mobile-menu__middle"></div>
        </div>
      </header>
      <main class="main-container__content">
        <section class="section__portfolio-page">
          <div class="section__portfolio-page--col-1">
            <h1 class="section__title section__title--dark section__title--portfolio"><%= htmlWebpackPlugin.options.title %></h1>
            <p class="section__subtitle section__subtitle--portfolio"><%= htmlWebpackPlugin.options.description %></p>
            <ul class="technologies-list">
              <% htmlWebpackPlugin.options.technologies.forEach(function(tech) { %>
              <li><%= tech %></li>
              <% }) %>
            </ul>
            <img src="<%= htmlWebpackPlugin.options.image %>" alt="<%= htmlWebpackPlugin.options.title %>" />
            <p class="general-copy"><%= htmlWebpackPlugin.options.text %></p>
            <div>
              <% htmlWebpackPlugin.options.buttons.forEach(function(button) { %>
              <a href="<%= button.href %>" class="cta-button"><%= button.title %></a> 
              <% }) %>
            </div>
          </div>
          <div class="section__portfolio-page--col-2"><img src="<%= htmlWebpackPlugin.options.image %>" alt="<%= htmlWebpackPlugin.options.title %>" /></div>
        </section>
        
      </main>
      <footer class="footer">
        <div class="footer__top">
          <h2 class="section__title section__title--light">Lets work together...</h2>
          <p class="section__subtitle section__subtitle--small">
            How do you take your <span class="section__subtitle--coffee">coffee?</span>
            <i class="fas fa-coffee" style="position: relative;">
              <i class="fas fa-cloud" style="position: absolute; font-size: 0.5em; top: -1em; left: 1.0em; opacity: 0.15; transform: skew(-40deg) scaleY(1.7) scaleX(0.9) ;"></i>
            </i>
          </p>
        </div>
        <div class="footer__bottom">
          <div class="social_media" id="profile-link">
            <!--<a href="" target="_blank">
              <i class="fab fa-facebook-square"></i>
              Facebook
            </a> -->
            <a href="https://github.com/KajenKirubah" target="_blank">
              <i class="fab fa-github"></i>
              Github
            </a>
            <a href="https://www.linkedin.com/in/kajen-kirubah-792a608a" target="_blank">
              <i class="fab fa-linkedin"></i>
              LinkedIn
          </a>
            <!--<a href="" target="_blank">
              <i class="fab fa-twitter"></i>
              Twitter
            </a> -->
          </div>
          <hr class="footer__bottom-line" />
          <p class="footer__text">Portfolio actively under development. Stay tuned for updates!<br />Coded with 💻 by Kajen.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
